service vendor.audio-virtualmic-hal /vendor/bin/hw/android.hardware.audio.service.virtualmic
    class hal
    user audioserver
    group audio media
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver
