service vendor.audio-virtualmic /vendor/bin/hw/android.hardware.audio.service.virtualmic
    class hal
    user audioserver
    group audio
    capabilities SYS_NICE
    task_profiles ProcessCapacityHigh
